.DS_Store
.Rhistory
.RData
.Rproj.user/
.Ruserdata
*.o
*.so
*.dll
*.dylib
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
latexmk.db
*.csv
*.tsv
*.RData
*.rds
*.RDS
*.pdf
*.png
*.jpg
*.jpeg
*.tiff
*.svg
figures/
results/
predictions/
test/
